Repository 2factorauth/twofactorauth, changes with the owners that CODEOWNERS names for each.
All owners: @psgs, @2factorauth/core, @carlgo11, @stephengroat

Rename hitbox to smashcast and update plex logo (#2719)
  _data/entertainment.yml
  img/entertainment/hitbox.png
  img/entertainment/plex.png
  img/entertainment/smashcast.png
Owners: none

remove social media tags
  _data/utilities.yml
Owners: none

alphabetize
  _data/utilities.yml
Owners: none

add Mastodon logo
  img/cloud/mastodon.png
Owners: none

add entry for Mastodon
  _data/social.yml
Owners: none

Add Deutsche Telekom
  _data/utilities.yml
Owners: none

cleanup spacing
  _data/social.yml
Owners: none

delete Mastodon from cloud
  img/cloud/mastodon.png
Owners: none

add Mastodon logo to social
  img/social/mastodon.png
Owners: none

Add Deutsche Telekom logo
  img/utilities/deutschetelekom.png
Owners: none

change to https
  _data/social.yml
Owners: none

added spardabanken
  _data/banking.yml
  img/banking/spardabank.png
Owners: none

added commerzbank
  _data/banking.yml
  img/banking/commerzbank.png
Owners: none

added email of comdirect
  _data/banking.yml
Owners: none

Revert "added spardabanken"
  _data/banking.yml
  img/banking/spardabank.png
Owners: none

alphabetize
  _data/banking.yml
Owners: none

Deutsche Telekom: Email Address
  _data/utilities.yml
Owners: none

CONTRIBUTING: No TFA Site: Email Address
  CONTRIBUTING.md
Owners: none

Add missing images
  img/entertainment/smashcast.png
  img/other/boxcryptor.png
Owners: none

Delete desura.png
  img/gaming/desura.png
Owners: none

Delete Desura from gaming.yml
  _data/gaming.yml
Owners: none

Added OTP entry for Coinbase.
  _data/devices/bitcoin.yml
Owners: none

Add Telzio (#2716)
  _data/utilities.yml
  img/utilities/telzio.png
Owners: none

CONTRIBUTING: No TFA Site: Email Address (#2726)
  CONTRIBUTING.md
Owners: none

Update Trello
  _data/task.yml
Owners: none

[ImgBot] optimizes images \img\placeholder.png (3.85%)) \notes\img\internetbs.png (8.57%)) \img\utilities\telzio.png (36.3%))
  img/placeholder.png
  img/utilities/telzio.png
  notes/img/internetbs.png
Owners: none

Initial textual changes after forking repo
  README.md
Owners: none

Set theme jekyll-theme-hacker
  _config.yml
Owners: @psgs

Update CNAME
  CNAME
Owners: @2factorauth/core

Initial textual edits after the repo fork
  index.html
Owners: none

Adding Bitcoin Logo
  index.html
Owners: none

Update Trello (#2729)
  _data/task.yml
Owners: none

Updating ABC metadata (hey, look at that initialism!)
  _config.yml
Owners: @psgs

Add Gitter badge
  README.md
Owners: none

CODEOWNERS:

# Below is a list of files/directories along with their owner.
# Owners are responsible for their files and owner approval is needed before any changes to said files can occur.
# This is managed by GitHub's "code owners" feature https://github.com/blog/2392-introducing-code-owners

# Jekyll and website design
js/*		@psgs
css/*		@psgs
lib/*		@psgs
_layouts/*	@psgs
_includes/*	@psgs
_sass/*		@psgs
_config.yml	@psgs

# Core files
CNAME		@2factorauth/core
LICENSE		@2factorauth/core

# Miscellaneous files
data.json	@carlgo11
verify.rb	@stephengroat
Rakefile	@stephengroat
